<div class="row detail">
  <div class="col-md-6 offset-md-3">
      <ng-container *ngIf="(gif$ | async) as gif; else noGif">
        <div *ngIf="gif; else noResult" class="card">
          <div class="card-body">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">
                <h5><b>Title</b>: {{gif.title}}</h5>
              </div>
              <div class="panel-body">
                <img width="100%" height="200px" [src]="gif.images.original.url" [alt]="gif.id">
              </div>
            
              <!-- List group -->
              <ul class="list-group" style="color: black;">
                <li class="list-group-item"><b>Id:</b> {{gif.id}}</li>
                <li class="list-group-item"><b>Rating:</b> {{gif.rating}}</li>
                <li class="list-group-item"><b>Date:</b> {{gif.import_datetime}}</li>
                <li class="list-group-item"><b>Source:</b> {{gif.source_tld}}</li>
                <li class="list-group-item"><b>Slug:</b> {{gif.slug}}</li>
              </ul>
            </div>
          </div>
        </div>
        <ng-template #noResult>
          <h5>No Gif Detail</h5>
        </ng-template>
      </ng-container>
      <ng-template #noGif>
        <h4>No Gif Detail</h4>
      </ng-template>
  </div>
</div>